# 忽略所有的.o文件
*.o

# 编译产生的文件和目录
build/
dist/
*.o
*.a
*.so
*.out
*.exe

# 可执行文件（如果有自定义的名称，请自行添加）
chat_server

# 调试符号文件
*.dSYM/

# 忽略所有 .log 文件
*.log

# IDE 文件
# .vscode/
.idea/
*.swp
*.swo

# 系统文件
chat_server.db

# 项目依赖
node_modules/
vendor/
packages/